/* Banner */

.banner {
    display: grid;
    gap: 1rem;
    max-width: 970px;
    margin-inline: auto;
}

.banner img:nth-child(1) { grid-column: span 2}
.banner img:nth-child(4) { grid-area: 2/2/4/3;}


/* Eventos e agenda*/

.eventos__item {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto repeat(2, 1fr) auto;
}

.eventos__item img,
.eventos__item h3,
.eventos__item h4 {
    grid-column: span 2;
}

.eventos__item img {
    max-height: 175px;
    object-fit: cover;
}

.eventos__item h3,
.eventos__item h5 {
    align-self: center;
}

.eventos__item:nth-child(5),
.eventos__item:nth-child(6),
.eventos__item:nth-child(7),
.eventos__item:nth-child(8),
.agenda__item:nth-child(5),
.agenda__item:nth-child(6) {
    display: none;
}

.agenda__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
}

.agenda__item img {
    grid-column: span 2;
}


@media (min-width: 720px) {

    /* Banner */

    .banner {
        grid-template-columns: calc(50% - .75rem);
        column-gap: 1.5rem;  
    }

    .banner img:nth-child(1) { grid-area: 1/1/3/2;}
    .banner img:nth-child(4) { grid-area: 1/3/3/4;}
}

@media (min-width: 1440px) {

    /* Banner */

    .banner {
        max-width: none;
    }

    
    /* Categorias */
    .categorias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .categorias__titulo {
        grid-column: span 2;
    }

    .categorias__lista {
        grid-row: span 2;
    }

    .categorias__destaques {
        align-self: center;
    }

    .categorias__imagem {
        align-self: end;
    }


    /* Eventos e agenda */

    .eventos__item:nth-child(5),
    .eventos__item:nth-child(6),
    .eventos__item:nth-child(7),
    .eventos__item:nth-child(8),
    .agenda__item:nth-child(5),
    .agenda__item:nth-child(6) {
        display: grid;
    }
}